.postCard{
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
    border-radius: 30px;
    padding: 40px;

    background-color: #fff;
    margin: 2vh 0 2vh 0;
}

.postCard > h1 {
    color: #5c5aea;
}

.postCard > p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #727272;
}

.author{
    display: flex;
    align-items: center;
}

.author > img{
    background-color: #eee;
    border-radius: 50%;
}

.author > span{
    margin-left: 5px;
    font-weight: bold;
}

.categories{
    display: flex;
}

.categories > div {
    background-color: #fff;
    color: #5c5aea;
    border: 2px solid #5c5aea;
    margin-right: 5px;
    padding: 5px;
    border-radius: 30px;
    font-size: small;
}